# Node.js
node_modules/

# Yarn
yarn-error.log*

# VSCode
.vscode/

# Build
dist/
/bin/suo.js
/suo-parser-*.tgz


# Added by cargo

/target

# Local dev caches (sandbox-local nix/rustup/cargo homes)
/.cache
/.nix-cache
/.rustup
/.cargo

# wasm-pack output
/wasm/pkg
/wasm/target
